@import "../../node_modules/@clr/ui/clr-ui-dark.min.css";

.label-form {
    background-color: #212129 !important;
}
.esxc-gauge-circle-bgc-dark {
    background-color: rgb(27, 42, 50) !important;
}

.harbor-icon{
    filter: drop-shadow(#ccc 58px 2px) !important;
}
