@import "../../node_modules/@clr/ui/clr-ui.min.css";

// project config page
.config-subtext {
  color: rgb(86, 86, 86);
}
.bottom-line-project-config {
  color: #000;
}
.permission-light {
  color: #000;
}
.left-label-light {
  color: #000;
}

